<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Data Mining</b></center>
<center><b><h1>Lab - 7 (Part 2)</b></center>    
<pre>

In [1]:
import pandas as pd

### Step 1: Load the Dataset
Load the `Tdata.csv` file and display the first few rows.

In [3]:
data_set = pd.read_csv("Tdata.csv")

In [4]:
data_set.head()

  Transaction  bread  butter  coffee  eggs  jam  milk
0          T1      1       1       0     0    0     1
1          T2      1       1       0     0    1     0
2          T3      1       0       0     1    0     1
3          T4      1       1       0     0    0     1
4          T5      1       0       1     0    0     0

### Step 2: Drop the 'Transaction' Column
We're only interested in the items (not the transaction IDs).

In [5]:
X = data_set.drop(columns="Transaction")
X.head()

   bread  butter  coffee  eggs  jam  milk
0      1       1       0     0    0     1
1      1       1       0     0    1     0
2      1       0       0     1    0     1
3      1       1       0     0    0     1
4      1       0       1     0    0     0

### Step 3: Count Single Items
See how many transactions include each item.

In [6]:
X.sum()

bread     5
butter    3
coffee    2
eggs      2
jam       2
milk      3
dtype: int64

In [7]:
X.columns

Index(['bread', 'butter', 'coffee', 'eggs', 'jam', 'milk'], dtype='object')

### Step 4: Define Apriori Function
This function finds frequent itemsets of size 1, 2, and 3 with minimum support.

In [12]:
from itertools import combinations

In [ ]:

def apriori(df: pd.DataFrame, min_support: float):
    n = len(df)
    result = []

    for k in [1, 2, 3]:
        for items in combinations(df.columns, k):
            mask = df[list(items)].all(axis=1)
            support = mask.sum() / n
            if support >= min_support:
                result.append((frozenset(items), support))
                print(f"{frozenset(items)} -> {support:.2f}")

    return result

apriori(df=X,min_support=0.03)

frozenset({'bread'}) -> 0.83
frozenset({'butter'}) -> 0.50
frozenset({'coffee'}) -> 0.33
frozenset({'eggs'}) -> 0.33
frozenset({'jam'}) -> 0.33
frozenset({'milk'}) -> 0.50
frozenset({'butter', 'bread'}) -> 0.50
frozenset({'coffee', 'bread'}) -> 0.17
frozenset({'bread', 'eggs'}) -> 0.17
frozenset({'jam', 'bread'}) -> 0.17
frozenset({'milk', 'bread'}) -> 0.50
frozenset({'butter', 'jam'}) -> 0.17
frozenset({'butter', 'milk'}) -> 0.33
frozenset({'coffee', 'eggs'}) -> 0.17
frozenset({'coffee', 'jam'}) -> 0.17
frozenset({'jam', 'eggs'}) -> 0.17
frozenset({'milk', 'eggs'}) -> 0.17
frozenset({'butter', 'jam', 'bread'}) -> 0.17
frozenset({'butter', 'milk', 'bread'}) -> 0.33
frozenset({'milk', 'bread', 'eggs'}) -> 0.17
frozenset({'coffee', 'jam', 'eggs'}) -> 0.17

[(frozenset({'bread'}), 0.8333333333333334),
 (frozenset({'butter'}), 0.5),
 (frozenset({'coffee'}), 0.3333333333333333),
 (frozenset({'eggs'}), 0.3333333333333333),
 (frozenset({'jam'}), 0.3333333333333333),
 (frozenset({'milk'}), 0.5),
 (frozenset({'bread', 'butter'}), 0.5),
 (frozenset({'bread', 'coffee'}), 0.16666666666666666),
 (frozenset({'bread', 'eggs'}), 0.16666666666666666),
 (frozenset({'bread', 'jam'}), 0.16666666666666666),
 (frozenset({'bread', 'milk'}), 0.5),
 (frozenset({'butter', 'jam'}), 0.16666666666666666),
 (frozenset({'butter', 'milk'}), 0.3333333333333333),
 (frozenset({'coffee', 'eggs'}), 0.16666666666666666),
 (frozenset({'coffee', 'jam'}), 0.16666666666666666),
 (frozenset({'eggs', 'jam'}), 0.16666666666666666),
 (frozenset({'eggs', 'milk'}), 0.16666666666666666),
 (frozenset({'bread', 'butter', 'jam'}), 0.16666666666666666),
 (frozenset({'bread', 'butter', 'milk'}), 0.3333333333333333),
 (frozenset({'bread', 'eggs', 'milk'}), 0.16666666666666666),
 (frozenset({'coffee', 'eggs', 'jam'}), 0.16666666666666666)]

### Step 5: Run Apriori
Set `min_support = 0.6` and display the frequent itemsets.

{'bread'} â†’ support: 0.83

### Step 6 Display as a DataFrame

   Itemset  Support
0  (bread)     0.83

# Orange Tool : - >Generate Same Frequent Patterns in Orange tools

# Extra : - >  Define Apriori Function without itertools